OPENFORGE_ENV=development
HOST=0.0.0.0
PORT=8000
INTERNAL_SERVICE_TOKEN=
OBJECT_STORAGE_ENDPOINT=
OBJECT_STORAGE_REGION=
OBJECT_STORAGE_BUCKET=
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_KEY=
MAX_UPLOAD_BYTES=
PROCESSING_TIMEOUT_SECONDS=
TEMP_ROOT=
