NODE_ENV=development
PORT=3000
NEXT_PUBLIC_OPENFORGE_URL=http://localhost:3000
NEXT_PUBLIC_OPENFORGE_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_OPENFORGE_PREVIEW_ORIGIN=http://localhost:4100
SESSION_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
